////
/// @file _forms.scss
///
/// @group style
/// @author Josh Parkinson <joshparkinson1991@gmail.com>
////

label,
.label {
    display: block;
    padding: 0;
    font-size: $font-size-base;
    font-weight: $font-weight-base;
    line-height: $line-height-computed;
    color: $text-color;
    text-align: left;
    margin-bottom: $spacer-xs;
    border: 0;
    border-radius: 0;
}

legend,
.legend {
    font-size: $font-size-base;
}

.form-control {
    height: auto;
    padding: $input-padding-vertical $input-padding-horizontal;
    font-size: $font-size-base;
}
