$glyphicon-adjust: \e063;
$glyphicon-alert: \e209;
$glyphicon-align-center: \e053;
$glyphicon-align-justify: \e055;
$glyphicon-align-left: \e052;
$glyphicon-align-right: \e054;
$glyphicon-apple: \f8ff;
$glyphicon-arrow-down: \e094;
$glyphicon-arrow-left: \e091;
$glyphicon-arrow-right: \e092;
$glyphicon-arrow-up: \e093;
$glyphicon-asterisk: \002a;
$glyphicon-baby-formula: \e216;
$glyphicon-backward: \e071;
$glyphicon-ban-circle: \e090;
$glyphicon-barcode: \e040;
$glyphicon-bed: \e219;
$glyphicon-bell: \e123;
$glyphicon-bishop: \e214;
$glyphicon-bitcoin: \e227;
$glyphicon-blackboard: \e218;
$glyphicon-bold: \e048;
$glyphicon-book: \e043;
$glyphicon-bookmark: \e044;
$glyphicon-briefcase: \e139;
$glyphicon-btc: \e227;
$glyphicon-bullhorn: \e122;
$glyphicon-calendar: \e109;
$glyphicon-camera: \e046;
$glyphicon-cd: \e201;
$glyphicon-certificate: \e124;
$glyphicon-check: \e067;
$glyphicon-chevron-down: \e114;
$glyphicon-chevron-left: \e079;
$glyphicon-chevron-right: \e080;
$glyphicon-chevron-up: \e113;
$glyphicon-circle-arrow-down: \e134;
$glyphicon-circle-arrow-left: \e132;
$glyphicon-circle-arrow-right: \e131;
$glyphicon-circle-arrow-up: \e133;
$glyphicon-cloud-download: \e197;
$glyphicon-cloud-upload: \e198;
$glyphicon-cloud: \2601;
$glyphicon-cog: \e019;
$glyphicon-collapse-down: \e159;
$glyphicon-collapse-up: \e160;
$glyphicon-comment: \e111;
$glyphicon-compressed: \e181;
$glyphicon-console: \e254;
$glyphicon-copy: \e205;
$glyphicon-copyright-mark: \e194;
$glyphicon-credit-card: \e177;
$glyphicon-cutlery: \e179;
$glyphicon-dashboard: \e141;
$glyphicon-download-alt: \e025;
$glyphicon-download: \e026;
$glyphicon-duplicate: \e224;
$glyphicon-earphone: \e182;
$glyphicon-edit: \e065;
$glyphicon-education: \e233;
$glyphicon-eject: \e078;
$glyphicon-envelope: \2709;
$glyphicon-equalizer: \e210;
$glyphicon-erase: \e221;
$glyphicon-eur: \20ac;
$glyphicon-euro: \20ac;
$glyphicon-exclamation-sign: \e101;
$glyphicon-expand: \e158;
$glyphicon-export: \e170;
$glyphicon-eye-close: \e106;
$glyphicon-eye-open: \e105;
$glyphicon-facetime-video: \e059;
$glyphicon-fast-backward: \e070;
$glyphicon-fast-forward: \e076;
$glyphicon-file: \e022;
$glyphicon-film: \e009;
$glyphicon-filter: \e138;
$glyphicon-fire: \e104;
$glyphicon-flag: \e034;
$glyphicon-flash: \e162;
$glyphicon-floppy-disk: \e172;
$glyphicon-floppy-open: \e176;
$glyphicon-floppy-remove: \e174;
$glyphicon-floppy-save: \e175;
$glyphicon-floppy-saved: \e173;
$glyphicon-folder-close: \e117;
$glyphicon-folder-open: \e118;
$glyphicon-font: \e047;
$glyphicon-forward: \e075;
$glyphicon-fullscreen: \e140;
$glyphicon-gbp: \e149;
$glyphicon-gift: \e102;
$glyphicon-glass: \e001;
$glyphicon-globe: \e135;
$glyphicon-grain: \e239;
$glyphicon-hand-down: \e130;
$glyphicon-hand-left: \e128;
$glyphicon-hand-right: \e127;
$glyphicon-hand-up: \e129;
$glyphicon-hd-video: \e187;
$glyphicon-hdd: \e121;
$glyphicon-header: \e180;
$glyphicon-headphones: \e035;
$glyphicon-heart-empty: \e143;
$glyphicon-heart: \e005;
$glyphicon-home: \e021;
$glyphicon-hourglass: \231b;
$glyphicon-ice-lolly-tasted: \e232;
$glyphicon-ice-lolly: \e231;
$glyphicon-import: \e169;
$glyphicon-inbox: \e028;
$glyphicon-indent-left: \e057;
$glyphicon-indent-right: \e058;
$glyphicon-info-sign: \e086;
$glyphicon-italic: \e049;
$glyphicon-jpy: \00a5;
$glyphicon-king: \e211;
$glyphicon-knight: \e215;
$glyphicon-lamp: \e223;
$glyphicon-leaf: \e103;
$glyphicon-level-up: \e204;
$glyphicon-link: \e144;
$glyphicon-list-alt: \e032;
$glyphicon-list: \e056;
$glyphicon-lock: \e033;
$glyphicon-log-in: \e161;
$glyphicon-log-out: \e163;
$glyphicon-magnet: \e112;
$glyphicon-map-marker: \e062;
$glyphicon-menu-down: \e259;
$glyphicon-menu-hamburger: \e236;
$glyphicon-menu-left: \e257;
$glyphicon-menu-right: \e258;
$glyphicon-menu-up: \e260;
$glyphicon-minus-sign: \e082;
$glyphicon-minus: \2212;
$glyphicon-modal-window: \e237;
$glyphicon-move: \e068;
$glyphicon-music: \e002;
$glyphicon-new-window: \e164;
$glyphicon-object-align-bottom: \e245;
$glyphicon-object-align-horizontal: \e246;
$glyphicon-object-align-left: \e247;
$glyphicon-object-align-right: \e249;
$glyphicon-object-align-top: \e244;
$glyphicon-object-align-vertical: \e248;
$glyphicon-off: \e017;
$glyphicon-oil: \e238;
$glyphicon-ok-circle: \e089;
$glyphicon-ok-sign: \e084;
$glyphicon-ok: \e013;
$glyphicon-open-file: \e203;
$glyphicon-open: \e167;
$glyphicon-option-horizontal: \e234;
$glyphicon-option-vertical: \e235;
$glyphicon-paperclip: \e142;
$glyphicon-paste: \e206;
$glyphicon-pause: \e073;
$glyphicon-pawn: \e213;
$glyphicon-pencil: \270f;
$glyphicon-phone-alt: \e183;
$glyphicon-phone: \e145;
$glyphicon-picture: \e060;
$glyphicon-piggy-bank: \e225;
$glyphicon-plane: \e108;
$glyphicon-play-circle: \e029;
$glyphicon-play: \e072;
$glyphicon-plus-sign: \e081;
$glyphicon-plus: \002b;
$glyphicon-print: \e045;
$glyphicon-pushpin: \e146;
$glyphicon-qrcode: \e039;
$glyphicon-queen: \e212;
$glyphicon-question-sign: \e085;
$glyphicon-random: \e110;
$glyphicon-record: \e165;
$glyphicon-refresh: \e031;
$glyphicon-registration-mark: \e195;
$glyphicon-remove-circle: \e088;
$glyphicon-remove-sign: \e083;
$glyphicon-remove: \e014;
$glyphicon-repeat: \e030;
$glyphicon-resize-full: \e096;
$glyphicon-resize-horizontal: \e120;
$glyphicon-resize-small: \e097;
$glyphicon-resize-vertical: \e119;
$glyphicon-retweet: \e115;
$glyphicon-road: \e024;
$glyphicon-rub: \20bd;
$glyphicon-ruble: \20bd;
$glyphicon-save-file: \e202;
$glyphicon-save: \e166;
$glyphicon-saved: \e168;
$glyphicon-scale: \e230;
$glyphicon-scissors: \e226;
$glyphicon-screenshot: \e087;
$glyphicon-sd-video: \e186;
$glyphicon-search: \e003;
$glyphicon-send: \e171;
$glyphicon-share-alt: \e095;
$glyphicon-share: \e066;
$glyphicon-shopping-cart: \e116;
$glyphicon-signal: \e018;
$glyphicon-sort-by-alphabet-alt: \e152;
$glyphicon-sort-by-alphabet: \e151;
$glyphicon-sort-by-attributes-alt: \e156;
$glyphicon-sort-by-attributes: \e155;
$glyphicon-sort-by-order-alt: \e154;
$glyphicon-sort-by-order: \e153;
$glyphicon-sort: \e150;
$glyphicon-sound-5-1: \e191;
$glyphicon-sound-6-1: \e192;
$glyphicon-sound-7-1: \e193;
$glyphicon-sound-dolby: \e190;
$glyphicon-sound-stereo: \e189;
$glyphicon-star-empty: \e007;
$glyphicon-star: \e006;
$glyphicon-stats: \e185;
$glyphicon-step-backward: \e069;
$glyphicon-step-forward: \e077;
$glyphicon-stop: \e074;
$glyphicon-subscript: \e256;
$glyphicon-subtitles: \e188;
$glyphicon-sunglasses: \e240;
$glyphicon-superscript: \e255;
$glyphicon-tag: \e041;
$glyphicon-tags: \e042;
$glyphicon-tasks: \e137;
$glyphicon-tent: \26fa;
$glyphicon-text-background: \e243;
$glyphicon-text-color: \e242;
$glyphicon-text-height: \e050;
$glyphicon-text-size: \e241;
$glyphicon-text-width: \e051;
$glyphicon-th-large: \e010;
$glyphicon-th-list: \e012;
$glyphicon-th: \e011;
$glyphicon-thumbs-down: \e126;
$glyphicon-thumbs-up: \e125;
$glyphicon-time: \e023;
$glyphicon-tint: \e064;
$glyphicon-tower: \e184;
$glyphicon-transfer: \e178;
$glyphicon-trash: \e020;
$glyphicon-tree-conifer: \e199;
$glyphicon-tree-deciduous: \e200;
$glyphicon-triangle-bottom: \e252;
$glyphicon-triangle-left: \e251;
$glyphicon-triangle-right: \e250;
$glyphicon-triangle-top: \e253;
$glyphicon-unchecked: \e157;
$glyphicon-upload: \e027;
$glyphicon-usd: \e148;
$glyphicon-user: \e008;
$glyphicon-volume-down: \e037;
$glyphicon-volume-off: \e036;
$glyphicon-volume-up: \e038;
$glyphicon-warning-sign: \e107;
$glyphicon-wrench: \e136;
$glyphicon-xbt: \e227;
$glyphicon-yen: \00a5;
$glyphicon-zoom-in: \e015;
$glyphicon-zoom-out: \e016;
