////
/// @file _grid.scss
///
/// @group bootstrap
/// @author Josh Parkinson <joshparkinson1991@gmail.com>
////

@import 'clearfix';

/// Generates a bootstrap row element
///
@mixin bootstrapRow(){
    @include clearfix();
    margin-right: negative(floor($grid-gutter-width / 2));
    margin-left: negative(ceil($grid-gutter-width / 2));
}

/// Generates a bootstrap column element
///
@mixin bootstrapColumn($width){
    position: relative;
    width: percentage($width / $grid-columns);
    padding-right: floor($grid-gutter-width / 2);
    padding-left: ceil($grid-gutter-width / 2);
    float: left;
}
