@mixin ghostButton($color, $padding-vertical: $btn-padding-vertical, $padding-horizontal: $btn-padding-horizontal){
    background-color: transparent;
    border: 1px solid $color;
    color: $color;
    padding: $padding-vertical $padding-horizontal;

    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}


@mixin button($bg-color, $text-colour, $padding-vertical: $btn-padding-vertical, $padding-horizontal: $btn-padding-horizontal){
    background-color: $bg-color;
    color: $text-colour;
    padding: $padding-vertical $padding-horizontal;

    &:hover {
        cursor: pointer;
        background-color: darken($bg-color, 10%);
        text-decoration: none;
    }
}
