////
/// @file _flex.scss
///
/// @group utility
/// @author Josh Parkinson <joshparkinson1991@gmail.com>
////

/// Creates a standard left - middle - right flex display.
///
/// The left column will have its children aligned to the left.
/// The middle column will have its children centered within it.
/// The right column will have its children aligned to the right.
@mixin flexLeftMiddleRight(){
    display: flex;
    align-items: center;
    justify-content: space-between;

    > * {
        display: flex;
        flex: 1;
        justify-content: center;

        &:first-child {
            justify-content: flex-start;
        }

        &:last-child {
            justify-content: flex-end;
        }
    }
}
